<p class="changeLangContainer">
  <button (click)="print()">DRUKUJ CV</button>
  <a [routerLink]="['/', 'en']">change to english version(EN)</a>
</p>

<h1>
  <span class="accent">
    Bartosz Szczepański-Bernaś
  </span><br/>
  <small>
    Programista
  </small>
</h1>
<div class="contactInfo accent">
  <span>
    Bielsko-Biala<br/>
    Polska
  </span>
  <span>
    [email address]<br/>
    [phone number]
  </span>
  <span>
    <a href="https://www.linkedin.com/in/bartosz-bernas/" target="_blank" class="accent">
      linkedin: bartosz-bernas
    </a><br/>
    <a href="https://github.com/Gr3pu" target="_blank" class="accent">
      github: Gr3pu
    </a>
  </span>
</div>

<p class="description">
  <small>
    Jestem ambitnym człowiekiem. Każdy projekt jest dla mnie okazją nie tylko do sprawdzenia swoich umiejętności, ale
    również do wzmocnienia umiejętności społecznych, pracy zespołowej i kompromisów. Od początku mojej kariery w każdym
    zadaniu staram się patrzeć biznesowo, przez pryzmat klienta, by moje rozwiązania techniczne były dopasowane do
    oczekiwać i planów klientów. Uważam że nie ma problemów niemożliwych do rozwiązania, wszystko zależy od czasu jaki
    mamy oraz zespołu. Pracując zawsze w zwinny sposób wiem, że bardzo istotne w pracy są samodzielność i wzajemne
    wparcie w rozwiazywaniu problemów.
  </small>
</p>

<section>
  <h3 class="sectionTitle accent">
    Umiejętności
  </h3>
  <div class="sectionContainer skillsContainer">
    <div class="skillsContainerBox">
      <ul>
        <li>
          Język C#<br/>
          <small>
            ekspert
          </small>
        </li>
        <li>
          .Net Core<br/>
          <small>
            ekspert
          </small>
        </li>
        <li>
          MSSQL<br/>
          <small>
            zaawansowany
          </small>
        </li>
      </ul>
    </div>
    <div class="skillsContainerBox">
      <ul>
        <li>
          Platforma Android<br/>
          <small>
            zaawansowany
          </small>
        </li>
        <li>
          Język Kotlin<br/>
          <small>
            zaawansowany
          </small>
        </li>
        <li>
          HTML, CSS<br/>
          <small>
            zaawansowany
          </small>
        </li>
      </ul>
    </div>
    <div class="skillsContainerBox">
      <ul>
        <li>
          Język Javascript<br/>
          <small>
            średni
          </small>
        </li>
        <li>
          Framework Angular<br/>
          <small>
            średni
          </small>
        </li>
        <li>
          Docker<br/>
          <small>
            początkujący
          </small>
        </li>
      </ul>
    </div>
  </div>
</section>

<p class="description">
  Gracz zespołowy, Agile/Scrum, Clean code(z Solid/Kiss/Dry), rozwiązuje problemy, ambitny
</p>

<section>
  <h3 class="sectionTitle accent">
    Edukacja
  </h3>
  <div class="sectionContainer">
    <div class="educationCard">
      <span>
        Stopień inżyniera
      </span>
      <span>
        <span class="date">ukończył w 2020</span>
        WSIZ, Bielsko-Biala, Polska<br/>
        Teza: prototyp aplikacji mobilnej z reaktywną strukturą strumienia
      </span>
    </div>
    <div class="educationCard">
      <span>
        Liceum
      </span>
      <span>
        <span class="date">ukończył w 2013</span>
        ZCBM, Bielsko-Biala, Polska<br/>
        Przedmioty rozszerzone: biologia, chemia, język angielski
      </span>
    </div>
  </div>
</section>

<section>
  <h3 class="sectionTitle accent">
    Zainteresowania
  </h3>
  <div class="sectionContainer">
    Gry i filmy ogólnie,
    Sztuki walki,
    Gotowanie,
    Fotografia,
    E-sport,
    Projektowanie UI/UX,
  </div>
</section>

<p class="bottomPageInfo accent">
  Sekcja doświadczenia jest załączona na następnej stronie. &#8631;
</p>

<h3 class="sectionTitle"></h3>
<p class="description">
  <small>
    Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu rekrutacji
    (zgodnie z ustawą z dnia 10 maja 2018 roku o ochronie danych osobowych (Dz. Ustaw z 2018, poz. 1000) oraz zgodnie z
    Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób
    fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia
    dyrektywy 95/46/WE (RODO).
  </small>
</p>

<span class="pageBreak"></span>


<section>
  <h3 class="sectionTitle accent">
    Doświadczenie
  </h3>
  <div class="sectionContainer">

    <div class="experienceBox">
      <h3>
        Lider zespołu / Główny programista
        <span>od Sty 2021(1 rok 4 mies)</span>
      </h3>
      <h4>
        <span>
          Code Town sp. z o.o.
        </span>,
        Bielsko-Biała(Polska)
      </h4>
      <ul>
        <li>
          Byłem głównym programistą prowadzącym 6-osobowy zespół. Tworzyłem zadania, projektowałem architekturę,
          zarządzałem merge requestami i tworzyłem najbardziej złożone części systemów. Byłem odpowiedzialny za
          dostarczanie wysokiej jakości produkty spełniające wymagania biznesowe, które również musiały być szybkie i stabilne.
        </li>
        <li>
          Stack: <strong>.Net Core, MSSQL, MySQL, HTML, JS, CSS, SCSS, Typescript, Angular</strong>
        </li>
        <li>
          IDE: <strong>Rider, SourceTree, Data Grip, Buddy.works, Bitbucket CI/CD, JIRA, Confluence</strong>
        </li>
      </ul>
    </div>

    <div class="experienceBox">
      <h3>
        Programista Fullstack
        <span>Lis 2019 - Gru 2020(1 rok 1 mies)</span>
      </h3>
      <h4>
        <span>
          Code Town sp. z o.o.
        </span>,
        Bielsko-Biała(Polska)
      </h4>
      <ul>
        <li>
          Byłem odpowiedzialny za tworzenie aplikacji dla lokalnych banków(działy kredytowe i ubezpieczeniowe). Drugim
          najważniejszy
          zadaniem było projektowanie architektury systemów i ich komponentów. Systemy były stworzone w metodyce
          zwinnej. Nasz
          zespół był również odpowiedzialny za wdrażanie i utrzymanie wcześniej wspomnianych aplikacji.
        </li>
        <li>
          Stack: <strong>.Net Core, MSSQL, MySQL, CI/CD, HTML, JS, CSS, SCSS, Typescript, Angular</strong>
        </li>
        <li>
          IDE: <strong>Visual Studio, SourceTree, MSSQL Management Studio, Buddy.works, Bitbucket CI/CD, JIRA,
          Confluence</strong>
        </li>
      </ul>
    </div>

    <div class="experienceBox">
      <h3>
        Programista Android
        <span>Maj 2017 - Gru 2019(2 lata 8 mies)</span>
      </h3>
      <h4>
        <span>
          Euvic sp. z o.o.
        </span>,
        Bielsko-Biała(Polska)
      </h4>
      <ul>
        <li>
          Byłem w zespole biorącym udział w tworzeniu aplikacji mobilnej na system Android. Wykorzystaliśmy architekturę
          MVP do
          zbudowania aplikacji. Odpowiadałem m.in. za nawigację między ekranami, budowanie usług przenoszących
          dane pomiędzy bazą danych a widokiem, tworzenie layoutów i obsługę mediów(zdjęcia, filmy, audio) i
          aparat/kamerę w urządzeniach.
        </li>
        <li>
          Stack: <strong>Kotlin, Android, Developer Console, Firebase, XML, Java, SQLite, GIT</strong>
        </li>
        <li>
          IDE: <strong>Android Studio, SourceTree, GitLab, JIRA, Confluence</strong>
        </li>
      </ul>
    </div>

    <div class="experienceBox">
      <h3>
        Młodszy programista
        <span>Paź 2016 - Maj 2017(7 mies)</span>
      </h3>
      <h4>
        <span>
          Euvic sp. z o.o.
        </span>,
        Bielsko-Biała(Polska)
      </h4>
      <ul>
        <li>
          Byłem odpowiedzialny za naprawianie błędów i tworzenie nowych funkcjonalności w aplikacji dla szkół(wirtualny
          dziennik lekcji/planner)
          w dziale finansowym - generowanie plików PDF i zmiana frontendu zgodnie z dostarczonym designem.
        </li>
        <li>
          Stack: <strong>C# .Net, MsSQL, SVN, Javascript, Ext.js, CSS</strong>
        </li>
        <li>
          IDE: <strong>Visual Studio, TurtoiseSVN</strong>
        </li>
      </ul>
    </div>

    <div class="experienceBox">
      <h3>
        Webmaster / Wsparcie IT
        <span>Mar 2014 - Paź 2016(2 lata 7 mies)</span>
      </h3>
      <h4>
        <span>
          Klucz Do... Beata Bernaś
        </span>,
        Bielsko-Biała(Polska)
      </h4>
      <ul>
        <li>
          Wsparcie przy serwisach PHP, zmieniając treści w kilku serwisach Joomla oraz Wordpress. Zarządzanie kilkoma
          komputerami i drukarkami, pomoc w aktualizacji i tworzeniu kopii zapasowych skrzynek pocztowych i dysków
          twardych.
        </li>
        <li>
          Stack: <strong>PHP, HTML, CSS, JS, Joomla, Wordpress</strong>
        </li>
        <li>
          IDE: <strong>Sublime Text</strong>
        </li>
      </ul>
    </div>

  </div>
</section>
