<h1>
  Bartosz Szczepański-Bernaś
  <small>
    Software developer
  </small>
</h1>
<div class="contactInfo">
  <span>
    [city, country]
  </span>
  <span>
    [email address]
  </span>
  <span>
    [linkedin username]
  </span>
  <span>
    [phone number]
  </span>
</div>

<p class="description">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<section>
  <h3 class="sectionTitle">
    Skills
  </h3>
  <div class="sectionContainer skillsContainer">
    <div class="skillsContainerBox">
      <ul>
        <li>
          C# Language<br/>
          <small>
            expert
          </small>
        </li>
        <li>
          .Net Core<br/>
          <small>
            expert
          </small>
        </li>
        <li>
          MSSQL<br/>
          <small>
            advanced
          </small>
        </li>
      </ul>
    </div>
    <div class="skillsContainerBox">
      <ul>
        <li>
          Android platform<br/>
          <small>
            advanced
          </small>
        </li>
        <li>
          Kotlin Language<br/>
          <small>
            advanced
          </small>
        </li>
        <li>
          HTML, CSS<br/>
          <small>
            advanced
          </small>
        </li>
      </ul>
    </div>
    <div class="skillsContainerBox">
      <ul>
        <li>
          Javascript Language<br/>
          <small>
            average
          </small>
        </li>
        <li>
          Angular framework<br/>
          <small>
            average
          </small>
        </li>
        <li>
          Docker<br/>
          <small>
            begginer
          </small>
        </li>
      </ul>
    </div>
  </div>
</section>

<p class="description">
  Team player, Clean code(with Solid/Kiss/Dry), Problem solver, Ambitious
</p>

<section>
  <h3 class="sectionTitle">
    Education
  </h3>
  <div class="sectionContainer">
    <div class="educationCard">
      <span>
        Engineer Degree
      </span>
      <span>
        <span class="date">graduated at 2020</span>
        WSIZ, Bielsko-Biala, Poland<br/>
        Thesis: mobile app prototype with reactive stream structure
      </span>
    </div>
    <div class="educationCard">
      <span>
        High School
      </span>
      <span>
        <span class="date">graduated at 2013</span>
        ZCBM, Bielsko-Biala, Poland<br/>
        Main subjects: biology, chemistry, english language
      </span>
    </div>
  </div>
</section>

<section>
  <h3 class="sectionTitle">
    Hobbys
  </h3>
  <div class="sectionContainer">
    UI/UX Design,
    Martial Arts,
    Photography,
    Cooking,
    E-sport,
    Games & movies in general.
  </div>
</section>

<p class="bottomPageInfo">
  Experience section is attached on the next page. &#8631;
</p>

<h3 class="sectionTitle"></h3>
<p class="description">
  I consent to the processing of my personal data for the purposes of the process
  recruitment (in accordance with the Act of May 10, 2018 on the protection of personal data (Journal of Laws of 2018, item 1000)
  and in accordance with Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 in
  on the protection of individuals with regard to the processing of personal data and on the free
  the flow of such data and the repeal of Directive 95/46/WE (GDPR).
</p>

<span class="pageBreak"></span>



<section>
  <h3 class="sectionTitle">
    Experience
  </h3>
  <div class="sectionContainer">

    <div class="experienceBox">
      <h3>
        Team Leader / Lead Developer
        <span>since Jan 2021</span>
      </h3>
      <h4>
        <span>
          Code Town sp. z o.o.
        </span>,
        Bielsko-Biała(Poland)
      </h4>
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </li>
      </ul>
    </div>

    <div class="experienceBox">
      <h3>
        Fullstack Developer
        <span>Nov 2019 - Dec 2020</span>
      </h3>
      <h4>
        <span>
          Code Town sp. z o.o.
        </span>,
        Bielsko-Biała(Poland)
      </h4>
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </li>
      </ul>
    </div>

    <div class="experienceBox">
      <h3>
        Android Developer
        <span>May 2017 - Dec 2019</span>
      </h3>
      <h4>
        <span>
          Euvic sp. z o.o.
        </span>,
        Bielsko-Biała(Poland)
      </h4>
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </li>
      </ul>
    </div>

    <div class="experienceBox">
      <h3>
        Junior Software Developer
        <span>Oct 2016 - May 2017</span>
      </h3>
      <h4>
        <span>
          Euvic sp. z o.o.
        </span>,
        Bielsko-Biała(Poland)
      </h4>
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </li>
      </ul>
    </div>

    <div class="experienceBox">
      <h3>
        Webmaster / IT support
        <span>March 2014 - Oct 2016</span>
      </h3>
      <h4>
        <span>
          Klucz Do... Beata Bernaś
        </span>,
        Bielsko-Biała(Poland)
      </h4>
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </li>
      </ul>
    </div>

  </div>
</section>


<p class="description">
  Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu rekrutacji (zgodnie z ustawą z dnia 10 maja 2018 roku o ochronie danych osobowych (Dz. Ustaw z 2018, poz. 1000) oraz zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (RODO).
</p>
