<p class="changeLangContainer">
  <button (click)="print()">PRINT CV</button>
  <a [routerLink]="['/', 'pl']">zmień na wersję polską(PL)</a>
</p>

<h1>
  <span class="accent">
    Bartosz Szczepański-Bernaś
  </span><br/>
  <small>
    Software developer
  </small>
</h1>
<div class="contactInfo accent">
  <span>
    Bielsko-Biala<br/>
    Poland
  </span>
  <span>
    [email address]<br/>
    [phone number]
  </span>
  <span>
    <a href="https://www.linkedin.com/in/bartosz-bernas/" target="_blank" class="accent">
      linkedin: bartosz-bernas
    </a><br/>
    <a href="https://github.com/Grepuu" target="_blank" class="accent">
      github: Grepuu
    </a>
  </span>
</div>

<p class="description">
  <small>
    I am an ambitious person. Each project is for me an opportunity not only to test my skills, but also to strengthen social skills, teamwork and making compromises. Since the beginning of my career in each task I try to look at the business, through the prism of the client, so that my technical solutions are tailored to the expectations and plans of customers. I believe that there are no problems impossible to solve, everything depends on the time we have and the team. Always working in an agile way I know that independence and mutual support in solving problems are very important at work.
  </small>
</p>

<section>
  <h3 class="sectionTitle accent">
    Skills
  </h3>
  <div class="sectionContainer skillsContainer">
    <div class="skillsContainerBox">
      <ul>
        <li>
          C# Language<br/>
          <small>
            expert
          </small>
        </li>
        <li>
          .Net Core<br/>
          <small>
            expert
          </small>
        </li>
        <li>
          MSSQL<br/>
          <small>
            advanced
          </small>
        </li>
      </ul>
    </div>
    <div class="skillsContainerBox">
      <ul>
        <li>
          Android platform<br/>
          <small>
            advanced
          </small>
        </li>
        <li>
          Kotlin Language<br/>
          <small>
            advanced
          </small>
        </li>
        <li>
          HTML, CSS<br/>
          <small>
            advanced
          </small>
        </li>
      </ul>
    </div>
    <div class="skillsContainerBox">
      <ul>
        <li>
          Javascript Language<br/>
          <small>
            average
          </small>
        </li>
        <li>
          Angular framework<br/>
          <small>
            average
          </small>
        </li>
        <li>
          Docker<br/>
          <small>
            beginner
          </small>
        </li>
      </ul>
    </div>
  </div>
</section>

<p class="description">
  Team player, Agile/Scrum, Clean code(with Solid/Kiss/Dry), Problem solver, Ambitious
</p>

<section>
  <h3 class="sectionTitle accent">
    Education
  </h3>
  <div class="sectionContainer">
    <div class="educationCard">
      <span>
        Engineer Degree
      </span>
      <span>
        <span class="date">graduated at 2020</span>
        WSIZ, Bielsko-Biala, Poland<br/>
        Thesis: mobile app prototype with reactive stream structure
      </span>
    </div>
    <div class="educationCard">
      <span>
        High School
      </span>
      <span>
        <span class="date">graduated at 2013</span>
        ZCBM, Bielsko-Biala, Poland<br/>
        Main subjects: biology, chemistry, english language
      </span>
    </div>
  </div>
</section>

<section>
  <h3 class="sectionTitle accent">
    Hobbys
  </h3>
  <div class="sectionContainer">
    Games & movies in general,
    Martial Arts,
    Cooking,
    Photography,
    E-sport,
    UI/UX Design,
  </div>
</section>

<p class="bottomPageInfo accent">
  Experience section is attached on the next page. &#8631;
</p>

<h3 class="sectionTitle"></h3>
<p class="description">
  <small>
    I consent to the processing of my personal data for the purposes of the process
    recruitment (in accordance with the Act of May 10, 2018 on the protection of personal data (Journal of Laws of 2018, item 1000)
    and in accordance with Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 in
    on the protection of individuals with regard to the processing of personal data and on the free
    the flow of such data and the repeal of Directive 95/46/WE (GDPR).
  </small>
</p>

<span class="pageBreak"></span>



<section>
  <h3 class="sectionTitle accent">
    Experience
  </h3>
  <div class="sectionContainer">

    <div class="experienceBox">
      <h3>
        Team Leader / Lead Developer
        <span>since Jan 2021</span>
      </h3>
      <h4>
        <span>
          Code Town sp. z o.o.
        </span>,
        Bielsko-Biała(Poland)
      </h4>
      <ul>
        <li>
          I was main developer leading 6 person team. I was managing tasks, designing architecture, managing merge requests and creating most difficult/complex parts of the systems. I was responsible for delivering high quality, fast and stable products that meet business requirements.
        </li>
        <li>
          Stack: <strong>.Net Core, MSSQL, MySQL, HTML, JS, CSS, SCSS, Typescript, Angular</strong>
        </li>
        <li>
          IDE: <strong>Rider, SourceTree, Data Grip, Buddy.works, Bitbucket CI/CD, JIRA, Confluence</strong>
        </li>
      </ul>
    </div>

    <div class="experienceBox">
      <h3>
        Fullstack Developer
        <span>Nov 2019 - Dec 2020</span>
      </h3>
      <h4>
        <span>
          Code Town sp. z o.o.
        </span>,
        Bielsko-Biała(Poland)
      </h4>
      <ul>
        <li>
          I was responsible for developing apps for local banks(loans and insurances departments). Second most important task was designing architecture of system and it's components. System was created with agile metodology. Our team was also responsible for deploying and maintenance of the systems.
        </li>
        <li>
          Stack: <strong>.Net Core, MSSQL, MySQL, CI/CD, HTML, JS, CSS, SCSS, Typescript, Angular</strong>
        </li>
        <li>
          IDE: <strong>Visual Studio, SourceTree, MSSQL Management Studio, Buddy.works, Bitbucket CI/CD, JIRA, Confluence</strong>
        </li>
      </ul>
    </div>

    <div class="experienceBox">
      <h3>
        Android Developer
        <span>May 2017 - Dec 2019</span>
      </h3>
      <h4>
        <span>
          Euvic sp. z o.o.
        </span>,
        Bielsko-Biała(Poland)
      </h4>
      <ul>
        <li>
          I was in team taking part in creating mobile application for android systems. We used MVP architecture for the system. Among other things, I was responsible for navigating between screens, building services that transfer data between the database and the view, creating layouts, and handling media (photos, videos, audio) and camera.
        </li>
        <li>
          Stack: <strong>Kotlin, Android, Developer Console, Firebase, XML, Java, SQLite, GIT</strong>
        </li>
        <li>
          IDE: <strong>Android Studio, SourceTree, GitLab, JIRA, Confluence</strong>
        </li>
      </ul>
    </div>

    <div class="experienceBox">
      <h3>
        Junior Software Developer
        <span>Oct 2016 - May 2017</span>
      </h3>
      <h4>
        <span>
          Euvic sp. z o.o.
        </span>,
        Bielsko-Biała(Poland)
      </h4>
      <ul>
        <li>
          I was responsible of fixing bugs and making new features in aplication for schools(virtual lesson log/planner) in financial department - generating PDFs and changing frontend according to task
        </li>
        <li>
          Stack: <strong>C# .Net, MsSQL, SVN, Javascript, Ext.js, CSS</strong>
        </li>
        <li>
          IDE: <strong>Visual Studio, TurtoiseSVN</strong>
        </li>
      </ul>
    </div>

    <div class="experienceBox">
      <h3>
        Webmaster / IT support
        <span>March 2014 - Oct 2016</span>
      </h3>
      <h4>
        <span>
          Klucz Do... Beata Bernaś
        </span>,
        Bielsko-Biała(Poland)
      </h4>
      <ul>
        <li>
          I was helping with PHP websites, changing content in several Joomla websites. Managing few PCs and printers, helping updating and making backups of mails and hard drives.
        </li>
        <li>
          Stack: <strong>PHP, HTML, CSS, JS, Joomla, Wordpress</strong>
        </li>
        <li>
          IDE: <strong>Sublime Text</strong>
        </li>
      </ul>
    </div>

  </div>
</section>
